.card1 {
    height: 160px;
}

.card2 {
    top: 255px;
}

.card3 {
    top: 280px;
}

.tbl2 {
    top: 450px;
}

.tblitem {
    left: 510px;
}

#customer {
    display: none;
}

#item {
    display: none;
}

#order {
    display: none;
}
